*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    list-style-type: none;
}

body{
    background-image: url(../images/background/tropical-luxury-silhouette-vacation-swimming.jpg);
    background-size: cover;
    background-position: center;
    height: 93vh
}

header{
    margin: 10px;
    gap: 20px;
}

header, .search{
    display: flex;
    flex-shrink: 1;
}

.search, input{
    flex-grow: 2;
}

.search button{
    padding: 0 20px;
    width: 120px;
    font-size: 18px;
    position: relative;
    left: -2px;
}

h1{
    flex-shrink: 2;
    font-size: 2.2em;
}

ul{
    flex-grow: 1;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
}

main .left{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    backdrop-filter: blur(10px);
    height: 100%;
}

h2{
    font-size: 2.5em;
    margin: 20px;
    position: relative;
    left: 0;
    text-align: center;
}

.sign_up{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 10px;
}

.sign_up div{
    display: flex;
    gap: 10px;
}

.left .sign_up button{
    width: 100%;
    height: 35px;
}

.left input{
    height: 30px;
}

.right{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-shrink: 2;
    width: 100%;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.images img{
    height: 200px;
    flex-shrink: 2;
}

.options{
    display: flex;
    gap: 25px;
    width: 390px;
}

.options a{
    border: 1px solid;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}