*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    list-style-type: none;
}

header{
    margin: 10px;
    gap: 20px;
}

header, .search{
    display: flex;
    flex-shrink: 1;
}

.search, input{
    flex-grow: 2;
}

.search button{
    padding: 0 20px;
}

h1{
    flex-shrink: 2;
    font-size: 2.2em;
}

ul{
    flex-grow: 1;
    flex-shrink: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

main{
    height: 700px;
    display: flex;
    align-items: center;
}

main .left{
    margin-left: 20px;
}

h2{
    font-size: 2em;
    margin: 20px;
}

.sign_up{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 10px;
}

.sign_up div{
    display: flex;
    gap: 10px;
}

.left .sign_up button{
    width: 100%
}